:root {
    --cor-fonte: #258996;
    --cor-fonte-azul: #0c0c0c;
    --cor-divmain: #258996;
}

.principal {
    text-align: center;
}

.principal h1 {
    color: var(--cor-fonte-azul);
    font-size: 2.4rem;
}

header, footer {
    background-color: #258996;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.desenvolvedores {
    margin-top: 30px;
    width: 100%;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 1fr));
    justify-content: center;
    align-self: center;
    gap: 15px;
    justify-items: center;
}

.conteudodev {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 310px;
    background: linear-gradient(180deg, #258996 35%, #fff);
    padding: 20px 12px;

    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

.conteudodev #imgperfil {
    border-radius: 50%;
    width: 230px;
    box-shadow: 0px 1px 9px var(--cor-fonte-azul);
    margin-bottom: 20px;
}

.infodev {
    text-align: center;
}

.infodev p {
    font-size: 1rem;
    font-weight: 600;
}

.linkgithub a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px;
    gap: 5px;

    font-size: 0.95rem;
    text-decoration: none;
    color: var(--cor-fonte-azul);
    transition: color 0.3s ease, transform 0.3s ease t !important; 
    transform-origin: center;
}

.linkgithub a:hover {
    color: var(--cor-divmain);
    transform: scale(1.15);
}

.linkgithub img {
    width: 18px;
}


.repgit {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}

.repgit a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    gap: 5px;

    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cor-fonte-azul);
    transition: color 0.3s ease, transform 0.3s ease !important;
    transform-origin: center;
}

.repgit a:hover {
    color: var(--cor-divmain);
    transform: scale(1.15);
}

.repgit img {
    width: 24.6px;
}


@media screen and (max-width: 992px) {
    
    .desenvolvedores {
        grid-template-columns: repeat(2, 330px);
    }

    .conteudodev:nth-child(3) {
        margin-top: 10px;
        grid-column: span 2;
        justify-self: center;
    }

}

@media screen and (max-width: 768px) {
   
    .principal h1{
        font-size: 2rem;
    }
   
    .desenvolvedores {
        grid-template-columns: repeat(1, 330px);
        gap: 20px;
    }

    .conteudodev:nth-child(3) {
        margin: 0;
        grid-column: auto;
        justify-self: auto;
    }
}
